*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    padding: 15px 0;
    background-color: black;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    margin: auto;
}